@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 100% 83%;
    --foreground: 240 10% 3.9%;
    --card: 50 100% 88%;
    --card-foreground: 240 10% 3.9%;
    --popover: 50 100% 88%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 115 74% 22%;
    --primary-foreground: 0 0% 98%;
    --secondary: 44 98% 70%;
    --secondary-foreground: 0 0% 9%;
    --muted: 44 98% 80%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 30 100% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 44 98% 65%;
    --input: 44 98% 75%;
    --ring: 30 100% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 114 75% 12%;
    --foreground: 0 0% 98%;
    --card: 114 75% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 114 75% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 115 74% 32%;
    --primary-foreground: 0 0% 98%;
    --secondary: 44 98% 60%;
    --secondary-foreground: 0 0% 9%;
    --muted: 114 75% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 100% 59%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 114 75% 20%;
    --input: 114 75% 20%;
    --ring: 30 100% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
